## 튜플

In [1]:
t1 = (1,2,3)

In [2]:
print(type(t1))

<class 'tuple'>

In [3]:
t2 = 1,2,3
print(type(t2))

<class 'tuple'>

In [7]:
t3 = ('a', 1 , ('ab', 'cd') )
t3[1]

1

In [8]:
(1,2,3) + (4,5)

(1, 2, 3, 1, 2, 3)

In [9]:
(1,2,3)*2

(1, 2, 3, 1, 2, 3)

In [1]:
fruit = ["사과","포도","홍시"]

while True:
    ser = input("검색: ")
    print("좋아하는 과일은?")
    print(ser)
    if ser in fruit:
        print("정답입니다.")
    elif ser == "end":
        print("종료합니다.")
        break
    else:
        print("오답입니다.")
        continue

좋아하는 과일은?
홍시
정답입니다.
좋아하는 과일은?
ㅁㄴㅇㄹ
오답입니다.
좋아하는 과일은?
end
종료합니다.

## def

In [3]:
def hi():
    print('hi')

hi()

hi

In [5]:
def namehi(name):
    print(f'{name}야 안녕')
namehi('ㅇㅇㅇ')

ㅇㅇㅇ야 안녕

In [7]:
def add(a, b):
    return a+b
add_num = add(3,4)
print(add_num)

7

In [37]:
def num_max(a,b,c):
    max_ = a
    if b > max_:
        max_ = b
    elif c > max_ :
        max_ = c
    
    return max_
    
num = num_max(60,90,43)
num

90

In [43]:
def num_min(array):
    smallist = array[0]
    for val in array:
        if val < smallist:
            smallist = val
            
    return smallist




textArray = [52,265,454,48,454,71,48,60,88]
num_min(textArray)

48

In [99]:
def print_even(my_list):
    
    for i in my_list:
        if i%2 == 0:
            print(i)
                
      
   
        
 

array = [1, 3, 2, 10, 12, 11, 15]
print_even(array)

2
10
12

In [57]:
def isLeapYear(num):
    if (num%4 == 0 and num%100 != 0) or num%400 == 0:
        return True
        
    else:
       return False
         
print(f"2022년은 윤년알까? {isLeapYear(2022)}")
print(f"2010년은 윤년알까? {isLeapYear(2010)}")
print(f"2000년은 윤년알까? {isLeapYear(2000)}")
print(f"1900년은 윤년알까? {isLeapYear(1900)}")

2022년은 윤년알까? False
2010년은 윤년알까? False
2000년은 윤년알까? True
1900년은 윤년알까? False

In [67]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

print(add_many(1,5,2,63))

71

In [84]:
def add_mul(*args, choice):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        return result    
    
print(add_mul(1,5,2,63, choice='mul'))

630

In [96]:
def func(a,b):
    add = a + b
    miu = a - b
    mul = a*b 
    hal = a//b

    return add, miu, mul, hal

add, miu, mul, hal = func(1,3)

print(add, miu, mul, hal)

4 -2 3 0

In [1]:
a = b = 10
c, d  =30 , 'hello'
e = 35
print(a,b,c,d,e)

10 10 30 hello 35

In [10]:
movie_rank = ["닥터 스트레인지", "스플릿" , "럭키"]
movie_rank.append("배트맨")
movie_rank.insert(1,'슈퍼맨')
movie_rank.remove('럭키')
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [11]:
temp = ('apple', 'banana' , 'cake')
a ,b ,c = temp
print(a,b,c)

apple banana cake

In [12]:
number = '010-213-154'
num1 = number.replace("-"," ")
print(num1)

010 213 154

In [26]:
a, b ,c  = input().split()
b = float(b) 
c = int(c)
print(type(a) , type(b) , type(c))
print("name = "  , a , '키= ' , b , 'age = ', c )

<class 'str'> <class 'float'> <class 'int'>
name =  박지민 키=  178.5 age =  25

In [32]:
d = {'kim': 34000,'lee':12000,'park':1200,'lew':0,'song':3420}
sum = 0
for i in d.values():
    sum += i

print(sum)

50620

In [37]:
def make_list(string):
    return list((string))

make_list("abcd")

['a', 'b', 'c', 'd']

['abcd']

In [39]:
def say_myself(name, age , man = True):
    print(f"나의 이름은 {name}입니나")
    print(f"나의 나이는 {age} 입니다")
    if man:
        print("남자")
    else:
        print("여자")

In [51]:
t = 1
def test():
    global t
    t = t+1
test()
print(t)

2

## 내장함수

In [61]:
myList = [1,2,3,4,5]
def add_one(n):
    return n + 1
result = map(add_one, myList)
print(result)
result2 = list(map(add_one, myList))
print(result2)

<map object at 0x000001F21CC4A8F0>
[2, 3, 4, 5, 6]

In [3]:
f = (3.14, -5.625, 100.4, 25.8)

def simu(n):
    return round(n,0)
result = list(map(simu, f))
print((result))

[3.0, -6.0, 100.0, 26.0]

In [6]:
r = (52,255,39,132)
g = (19,63,227,197)
b = (0,68,255,187)

rgb = zip(r,g,b)
print(list(rgb))

[(52, 19, 0), (255, 63, 68), (39, 227, 255), (132, 197, 187)]

In [7]:
f = ('apple' , 'orange', 'banana', 'mango')
tag = dict(enumerate(f,start=1))
print(tag)

{1: 'apple', 2: 'orange', 3: 'banana', 4: 'mango'}

In [9]:
def f(x):
    return 10>x>6
    
a = [8,3,2,10,15,7,1,9,0,11]
list(filter(f,a))

[8, 7, 9]

In [10]:
myList = [1,2,3,4,5]
result2 = list(map(lambda x: x+1, myList))
print(result2)

[2, 3, 4, 5, 6]

In [13]:
num = [1,2,3,4]
squ = list(map(lambda x: x**2,num))
print(squ)

[1, 4, 9, 16]

In [15]:
num = [1,2,3,4,5]
squ = list(filter(lambda x: x%2 == 0,num))
print(squ)

[2, 4]

In [19]:
points = [(1,2),(3,4),(5,1)]
sor = list(sorted(points,key=lambda x: x[1]))
print(sor)

[(5, 1), (1, 2), (3, 4)]

## 모듈

In [20]:
import math

In [22]:
math.pow(2,3)

8.0

In [23]:
import math as m
m.pow(2,3)

8.0

In [24]:
from math import pow
pow(2,5)

32.0

In [62]:
import random as ran
list = []
while len(list)< 6:
    q = ran.randrange(1,50)
    if q not in list:
        list.append(q)
    
print(list)

[12, 46, 44, 33, 4, 14]

In [12]:
import random
sel = ['가위' , '바위', '보']
def checkWin(user,com):
    if user == com[0]:
        print('비김')
    
    elif user == '가위' and com[0] == '바위':
        print('짐')

    elif user == '바위' and com[0] == '보':
        print('짐')
    
    elif user == '보' and com[0] == '가위':
        print('짐')
    
    else:
        print('이김')

    return True

def continueConfirm():
    sp = int(input('1.재경기 2.종료: '))
    if sp == 1:
        return True
    else:
        return False
    
            
while True:
    user = input("가위, 바위, 보 :" )
    com = sel[random.randint(0,2)]
    print(f'{user}, {com}')
    if checkWin(user,com):
        if continueConfirm():
            continue
        else:
            break

가위, 보
이김
바위, 가위
이김
보, 보
비김
보, 보
비김
1ㅗ, 가위
이김
가위, 보
이김

True

<class 'str'>

## 클래스

In [73]:
class Dog:
    species = "doberman"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        return f'{self.name} is barking'

In [74]:
dog1 = Dog('happy', 3)

In [75]:
dog1.bark()

'happy is barking'

In [77]:
dog2 = Dog('Max',5)

In [2]:
class Fourcal:
    def __init__(self,num1,num2):
        self.num1 = num1
        self.num2 = num2

    def add(self):
        result = self.num1 +self.num2
        return result
    def sub(self):
        result = self.num1 -self.num2
        return result
    def mul(self):
        result = self.num1 * self.num2
        return result
    def div(self):
        result = self.num1 / self.num2
        return result

In [3]:
a = Fourcal(7,3)

In [4]:
a.num2

3

In [6]:
a.sub()

4

In [9]:
class AdvanceFourcal(Fourcal):
    def pow(self):
        return self.num1 ** self.num2

In [10]:
c = AdvanceFourcal(4,2)

In [11]:
c.pow()

16

In [13]:
class SafeFourCAl(Fourcal):
    def div(self):
        if self.num2 == 0:
            return 0
        else:
        
            return result

In [14]:
d = SafeFourCAl(5,0)

In [16]:
d.div()

0

## 터틀