## 2024 -12-19

# 파이썬 기본 문법

In [4]:
print('hello world')

hello world

In [5]:
print('hello world')
print('hello world2')
print('hello world3')

hello world
hello world2
hello world3

In [6]:
"hello world"
"hello world2"
"hello world3"

'hello world3'

In [8]:
print(1)
print(2)
print(3)

1
2
3

In [9]:
print('1')
print('2')
print('3')

1
2
3

In [10]:
print(1+2)
print(2+3)
print(3+4)

3
5
7

In [11]:
print('1+2')
print('2+3')
print('3+4')

1+2
2+3
3+4

In [12]:
1+2
2+3
3+4

7

In [14]:
print('hello')
print('Python')
print('홍길동 나이 = 20 세')

hello
Python
홍길동 나이 = 20 세

In [19]:
# 프린트문 연습습
print('hello')
print('Python')
print('홍길동', '나이 =', 20, '세')

hello
Python
홍길동 나이 = 20 세

In [23]:
print('hello'); print('python')

print('nice \
to meet you')

hello
python
nice to meet you

In [26]:
print('hi' , 'Python' , sep='')

hiPython

In [27]:
print('hi', end=' ')
print('python')

hi python

#### 변수

In [57]:
name = '정도헌'
age = 25

print(name , '나이 = ', age , '세')

정도헌 나이 =  25 세

In [58]:
type(name)

str

In [59]:
type(age)

int

In [60]:
int()
str()
float()
bool()

False

In [61]:
bool('Ture')

True

In [62]:
type(True)

bool

In [63]:
bool(0)

False

In [64]:
bool(1)

True

In [65]:
bool('hello')

True

In [66]:
bool('')

False

In [67]:
bool(' ')

True

In [71]:
## 미션 1

a=3
b=4
print('합 = ', a+b ,'차 =' , a-b ,'곱 = ', a*b ,'나눗셈= ', a/b ,'나머지 = ' , a%b ,'몫 = ', a//b ,'제곱 = ', a**b)

합 =  7 차 = -1 곱 =  12 나눗셈=  0.75 나머지 =  3 몫 =  0 제곱 =  81

In [97]:
n =1234

print('첫자리 = ' , n%10)
print('첫자리 = ' , (n//10)%10)
print('첫자리 = ' , (n//100)%10)
print('넷자리 = ' , n//1000)

첫자리 =  4
첫자리 =  3
첫자리 =  2
넷자리 =  1

In [82]:
pay= 12345678
print((pay//10)*100)

123456700

In [99]:
a= 4648
b = 2
c = (a-(a//10**b)*(10**b))//(10**(b-1))
print(c)

4

##불린 연산자자

In [100]:
print( 5 == 2)
print( 5 != 2)
print( 5 < 2)
print( 5 > 2)

False
True
False
True

In [102]:
print((3<5) and (3>0))
print((4<7) or (5>8))
print( not(5<9))

True
True
False

In [104]:
head = "python, "
tail = 'Hello'

head + tail

'python, Hello'

In [105]:
head*3

'python, python, python, '

In [106]:
type(head)

str

In [107]:
len(head)

8

In [109]:
samplestring = "life is too short"
len(samplestring)

17

In [114]:
print("'낮말'은 새가 듣고 '밤말' 쥐가 듣는다.")

'낮말'은 새가 듣고 '밤말' 쥐가 듣는다.

In [120]:
samplestring[-4:-1]

'hor'

In [122]:
samplestring[:]

'life is too short'

a = "life is too short, You need Python"
print(a[12]+a[0]+a[24:26]+a[28])

### input

In [124]:
input()

'hello'

In [ ]:
name = input('이름을 입력하세요')

print('당신의 이름은 ' + name + ' 입니다.')

당신의 이름은 정도헌 입니다.

In [131]:
a =int(input('숫자1: ' ))
b =int(input('숫자2: ' ))
print(a) ; print(b)
c = a + b
print (c)

10
12
22

In [140]:
a =int(input('밑변: ' ))
b =int(input('높이: ' ))
print('높이:' , a) 
print('넓이:' , b)
c = a*b/2
print(c)

높이: 10
넓이: 12
60.0

In [138]:
a = int(input('김밥: ' ))
b = int(input('떡볶이: ' ))
c = int(input('라면: ' ))
print('김밥: ' , a , '개', ' 떡볶이: ' , b , '개', '라면: ' , c , '개')
d = (a*3000 + b*3500 + c*4000)
print("총금액 = " , d , '원')

김밥:  1 개  떡볶이:  2 개 라면:  3 개
총금액 =  22000 원

## Format

In [143]:
a = float(input("첫번째 값 입력:" ))
b = float(input("첫번째 값 입력:" ))

print(f'{a:.2f}*{b:.2f} = {a*b:.2f}')

1.00*20.00 = 20.00

In [150]:
a = float(input("반지름 입력(cm):" ))

print(f"반지름: {a:.1f}cm")
print(f"원의 둘레: {(a*2*3.14):.1f}cm")
print(f"원의 넓이 {a**2*3.14:.1f}㎤")

반지름: 150.7cm
원의 둘레: 946.4cm
원의 넓이 71309.0㎤

## IF 문

In [151]:
money  = True

if money:
    print('맛난거 먹기')

맛난거 먹기

In [153]:
result = 10 > 4
if result:
    print("this is test")

this is test

In [155]:
money  = 10-10

if money:
    print('맛난거 먹기')
else:
    print("친구한테 얻어먹기기")

친구한테 얻어먹기기

In [162]:
num = int(input('숫자 입력:' ))

if num%2 == 0:
    print('짝수 입니다.')
else:
    print('홀수 입니다.')

홀수 입니다.

In [164]:
a = int(input('점수를 입력하세요:' ))
if a> 90:
    print('A')
elif a < 90  and a >= 80 :
    print('B')
elif a < 80  and a >= 70 :
    print('C')
elif a < 70  and a >= 60 :
    print('D')
else:
    print('F')

B

In [180]:
a = int(input('출생 연도 끝자리:' ))
b = int(input('나이를 입력하세요:' ))
if b >= 65:
    print('언제든지 구매 가능')
elif a == 1 or a == 6:
    print('월요일에 구매가능')
elif a == 2 or a == 7:
    print('화요일에 구매가능')
elif a == 3 or a == 8:
    print('수요일에 구매가능')
elif a == 4 or a == 9:
    print('목요일에 구매가능')
else:
    print('금요일에 구매가능')

언제든지 구매 가능

In [185]:
a = float(input('키:' ))
b = float(input('몸무게:' ))
c = (b/(a*a/100**2))

print(f"키: {a:.2f}cm, 몸무게:{b:.2f}kg , bmi지수: {c:.2f}")
if c > 35.0:
    print('고도비만')
elif c <= 35.0 and c > 30 :
    print('비만')
elif c <= 30.0 and c > 25 :
    print('과체중')
elif c <= 25 and c > 18.5 :
    print('정상체중')
else:
    print('저체중')

키: 175.00cm, 몸무게:68.00kg , bmi지수: 22.20
정상체중

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29

In [20]:
a = int(input('마지막 숫자:' ))
i = 0
while True:
    i = i + 1
    if i == a:
        break

    elif i%3 == 0 or i%5 == 0:
        continue
    
    else:
        print(i , end = ' ')

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29

In [25]:
a = int(input('마지막 숫자:' ))
i = 0
while True:
    i = i + 1
    if  i > a:
        break
    elif i%10 == 3 or i%10 == 6 or i%10 == 9:
        print('짝' , end = ' ')
        continue
    else:
        print(i , end = ' ')

1 2 짝 4 5 짝 7 8 짝 10 11 12 짝 14 15 짝 17 18 짝 20 21 22 짝 24 25 짝 27 28 짝 30 31 32 짝

In [28]:

i = 'python'
while True:
    a = str(input('비밀번호를 입력하세요:' ))
    if i == a:
        print('로그인 완료')
        break
    else:
        print('비밀번호를 잘못입력하였습니다.')
        
    continue

비밀번호를 잘못입력하였습니다.
비밀번호를 잘못입력하였습니다.
로그인 완료

*

In [51]:
for i in range(0 , 20 , 2):
    for j in range(1,i):
        print('*', end ='')
    print()

*
***
*****
*******
*********
***********
*************
***************
*****************

In [52]:
for i in range(20 , 0 , -2):
    for j in range(1,i):
        print('*', end ='')
    print()

*******************
*****************
***************
*************
***********
*********
*******
*****
***
*

In [74]:
for i in range(20):
    for j in range(19 , i , -1):
        print(' ', end ='')
    print('*'*(2*i-1), end = '')
    
    for k in range(i+1, 10):
        print(" ", end = '')

    print()

                  *
                 ***
                *****
               *******
              *********
             ***********
            *************
           ***************
          *****************
         *******************
        *********************
       ***********************
      *************************
     ***************************
    *****************************
   *******************************
  *********************************
 ***********************************
*************************************

In [75]:
for i in range(20):
    for j in range(19 , i , -1):
        print(' ', end ='')

In [9]:
for i in range(2,10):
    for k in range(2,10):
        print(k*i, end="\t")
    print("\n")

4	6	8	10	12	14	16	18

6	9	12	15	18	21	24	27

8	12	16	20	24	28	32	36

10	15	20	25	30	35	40	45

12	18	24	30	36	42	48	54

14	21	28	35	42	49	56	63

16	24	32	40	48	56	64	72

18	27	36	45	54	63	72	81

In [39]:
i = 3
price = 300
while True:
    a = int(input('커피값:' ))

    if i == 0:
        print('커피가 없습니다.')
        break

    if a == price:
        print('커피가 나왔습니다.')
        i = i -1
        print(f"커피가 {i}개 남았습니다.")
        
        continue
    
    elif a > price:
        print(f"{a-price}원 이 남았습니다.")
        print('커피가 나왔습니다.')
        i = i -1
        print(f"커피가 {i}개 남았습니다.")
        continue
    
    else:
        print('돈이 적습니다.')
        print(f"{price - a}원 부족합니다.")
        print(f"커피가 {i}개 남았습니다.")
        continue

돈이 적습니다.
150원 부족합니다.
커피가 3개 남았습니다.
커피가 나왔습니다.
커피가 2개 남았습니다.
돈이 적습니다.
50원 부족합니다.
커피가 2개 남았습니다.
200원 이 남았습니다.
커피가 나왔습니다.
커피가 1개 남았습니다.
5500원 이 남았습니다.
커피가 나왔습니다.
커피가 0개 남았습니다.
커피가 없습니다.

## 딕셔너리

In [43]:
menu = {'김밥':2000 , '라면' : 3000 , '돈까스' : 5000}
print(type(menu))
menu['떡볶이'] = 3000

<class 'dict'>

In [44]:
menu['김밥']

2000

In [45]:
menu['떡볶이']

3000

In [ ]:
menu.keys()

AttributeError: 'int' object has no attribute 'keys'

In [50]:
menu.values()

dict_values([2000, 3000, 5000, 3000, 3000])

In [51]:
menu.items()

dict_items([('김밥', 2000), ('라면', 3000), ('돈까스', 5000), ('떡볶이', 3000), ('로제 떡볶이', 3000)])

In [64]:
menu = {'김밥':2000 , '라면' : 3000 , '돈까스' : 5000}
for menus in menu.keys():
    print(menus)

김밥
라면
돈까스

In [55]:
for menu in menu.values():
    print(menu)

2000
3000
5000
3000
3000

In [63]:
menu = {'김밥':2000 , '라면' : 3000 , '돈까스' : 5000}
for menu_item in menu.items():
    print(menu_item)

('김밥', 2000)
('라면', 3000)
('돈까스', 5000)

In [65]:
menu = {'김밥':2000 , '라면' : 3000 , '돈까스' : 5000}
menu.pop('김밥')
menu

{'라면': 3000, '돈까스': 5000}

In [66]:
menu.popitem()
menu

{'라면': 3000}

In [ ]:
#딕셔너리로 하나의 자료를 만들고
#리스트로 여러 자료를 묶어 하나의 전화번호부처럼 만들 수 있다.

In [68]:
menu = {'김밥':2000 , '라면' : 3000 , '돈까스' : 5000}
for key, value in menu.items():
    print(key, value)

김밥 2000
라면 3000
돈까스 5000

In [70]:
print(menu.get('김밥'))

2000

KeyboardInterrupt:

In [93]:
todolist = []
i = 0
while True:
    menu = int(input('1.보기 2.추가 3.삭제 3.종료(0번) :' ))
    if menu == 1:
        for todolist_1 in todolist:
                print(f"{todolist_1}")
        print("*"*10, end = "\n")
        continue
    if menu == 2:
        menu_append = input('추가할 항목: ')
        todolist.append(menu_append)

        for i in range(len(todolist)):    
            print(f"{i}.{todolist[i]}")
        print("*"*10, end = "\n")
        continue
    if menu == 3:
        todolist_remove = input('삭제할 항목: ')
        todolist.remove(todolist_remove)
        for i in range(len(todolist)):    
            print(f"{i}.{todolist[i]}")
        print("*"*10, end = "\n")

    if menu == 0:
        print('오늘의 할일을 종료합니다.')
        
        break
print()

0.ㅁㄴㅇㄻㄴ
**********
0.ㅁㄴㅇㄻㄴ
1.ㅂㅈㄷㅅㄱㅂㅈㄹ
**********
0.ㅁㄴㅇㄻㄴ
1.ㅂㅈㄷㅅㄱㅂㅈㄹ
2.ㄴㅇㅁㅊㄴㅇㄼ
**********
0.ㅁㄴㅇㄻㄴ
1.ㅂㅈㄷㅅㄱㅂㅈㄹ
2.ㄴㅇㅁㅊㄴㅇㄼ
3.ㅁㄵㅇㄻㄴㅇ
**********
0.ㅁㄴㅇㄻㄴ
1.ㅂㅈㄷㅅㄱㅂㅈㄹ
2.ㄴㅇㅁㅊㄴㅇㄼ
3.ㅁㄵㅇㄻㄴㅇ
4.ㅁㄴㅇㄹ
**********
0.ㅁㄴㅇㄻㄴ
1.ㅂㅈㄷㅅㄱㅂㅈㄹ
2.ㄴㅇㅁㅊㄴㅇㄼ
3.ㅁㄵㅇㄻㄴㅇ
4.ㅁㄴㅇㄹ
5.ㅁㄴㅇㅀ
**********
0.ㅁㄴㅇㄻㄴ
1.ㅂㅈㄷㅅㄱㅂㅈㄹ
2.ㄴㅇㅁㅊㄴㅇㄼ
3.ㅁㄵㅇㄻㄴㅇ
4.ㅁㄴㅇㅀ
**********
오늘의 할일을 종료합니다.

In [106]:
fred = []
fre = {}
while True:
    menu = int(input('1.추가 2.삭제 3.검색 4.종료(0번) :' ))

    if menu == 1:
        fre_name = input('이름: ')
        fre_number = input('번호: ')
        
        fre[f'{fre_name}'] = fre_number
     
        fred.append(fre)
        

    elif menu == 2:
        fre_name_del = input('이름: ')
        del(fre[fre_name_del])
        
           

    elif menu == 3:
         print(list(fre.keys()))
         search = input('검색할 친구: ')
         if fre.get(search):
            print(fre.get(search))
            
         else:
             print('잘못입력')


    elif menu == 0:
        print('오늘의 할일을 종료합니다.')
        
        break
    else:
        print('잘못입력하였습니다.')
        continue
print()

['ㅂㅈㅂ', 'ㄴㅁㄴㅇㄹ']
None

ValueError: invalid literal for int() with base 10: 'ㅂㅈㅂ'

In [ ]:
language = {'egg':'eggg'}

while True:
     search = input('검색: ')
     if language .get(search):
          print(language[search])
     
     elif search == 'end':
          print('사전을 종료합니다.')
          break
          
     else:
          print('단어가 없습니다.')
          continue

eggg
단어가 없습니다.
단어가 없습니다.
단어가 없습니다.
단어가 없습니다.

In [44]:
students = [{'name':'Alice', 'score':[90,85,92]},
            {'name':'bob', 'score':[78,80,88],},
            {'name':'charlie','score':[95,92,89]}]
stu_list = []
all_ave = 0
average = 0
for student in  students:
    average = sum(student.get('score'))/len(student.get('score'))
    print(f"{student.get('name')}의 평균:{average}")

    all_ave += average

print(f"전체 학생의 평균: {all_ave/len(students)}")

for student in students:
    if any(90 > val for val in student.get('score')):
      stu_list.append(student.get('name'))
print(f"90점이상 : {stu_list}")

Alice의 평균:89.0
bob의 평균:82.0
charlie의 평균:92.0
전체 학생의 평균: 87.66666666666667
90점이상 : ['Alice', 'bob', 'charlie']